/* them custom css
@author Md. Abdullah
@email: abdullah001rti@gmail.com
*/

.main-panel>.content {
    margin-top: 35px !important;
}


.table-sortable > thead > tr > th.sorting {
    cursor: pointer;
    position: relative;
}

.table-sortable > thead > tr > th.sorting:after,
.table-sortable > thead > tr > th.sorting:after,
.table-sortable > thead > tr > th.sorting:after {
    content: "\2191";
    height: 0;
    width: 0;
    right: 1em;
    top: 11px; 
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
}

.table-sortable > thead > tr > th.sorting:before,
.table-sortable > thead > tr > th.sorting:before,
.table-sortable > thead > tr > th.sorting:before {
    content: "\2193";
    height: 0;
    width: 0;
    right: 0.5em;
    top: 11px;
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
}

.table-sortable > thead > tr > th.asc:after {
    top: 11px;
    right: 0.5em;
    content: "\2193";
}

.table-sortable > thead > tr > th.asc:before {
    top: 11px;
    right: 1em;
    content: "\2191";
    opacity: 1;
}


.table-sortable > thead > tr > th.desc:after {  
    top: 11px;
    right: 0.5em;
    content: "\2193";  
    opacity: 1;
}

.table-sortable > thead > tr > th.desc:before {    
    top: 11px;
    right: 1em;
    content: "\2191";
}

/*Datatable css done*/

/*sidebar active css*/

.sidebar[data-color=azure] li>a.router-link-active {
    background-color: #00bcd4;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
}

textarea.form-control{
    border-radius: 5px !important;
    border: 1px solid #aaa !important;
    background: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    top:7px!important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 3px!important;
}
.select2-container .select2-selection--single{
    height: 37px!important;
    border: 1px solid #d2d2d2 !important;
}
.select2-form-group{
    position: absolute;
    z-index: 9;
    font-size: .6875rem;
    margin: -7px 2px;
    background: #fff;
    padding: 1px;
}

.w76{
    width: 76px;
}

.card .card-header-city .card-icon, .card .card-header-city .card-text, .card .card-header-city:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px #9179dd;
}

.card.bg-city, .card .card-header-city .card-icon, .card .card-header-city .card-text, .card .card-header-city:not(.card-header-icon):not(.card-header-text), .card.card-rotate.bg-city .back, .card.card-rotate.bg-city .front {
    background: linear-gradient(142deg,#cd30e8,#69abe1);
}

fieldset.border {
    /*border: 1px groove #ddd !important;*/
    padding: 0 1.4em 1.4em 1.4em !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.border {
    font-size: 1em !important;
    font-weight: 400 !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

.nr{
    white-space: nowrap;
}

.mw-80{
    min-width: 80px;
}
.mw-85{
    min-width: 85px;
}
.mw-90{
    min-width: 90px;
}
.mw-95{
    min-width: 95px;
}
.mw-100{
    min-width: 100px;
}
.mw-105{
    min-width: 105px;
}
.mw-110{
    min-width: 110px;
}
.mw-115{
    min-width: 115px;
}
.mw-120{
    min-width: 120px;
}
.mw-125{
    min-width: 125px;
}
.mw-130{
    min-width: 130px;
}
.mw-135{
    min-width: 135px;
}
.mw-140{
    min-width: 140px;
}
.mw-145{
    min-width: 145px;
}
.mw-150{
    min-width: 150px;
}
.mw-155{
    min-width: 155px;
}
.mw-160{
    min-width: 160px;
}
.mw-165{
    min-width: 165px;
}
.mw-170{
    min-width: 170px;
}
.mw-175{
    min-width: 175px;
}
.mw-180{
    min-width: 180px;
}
.mw-185{
    min-width: 185px;
}
.mw-190{
    min-width: 190px;
}
.mw-195{
    min-width: 195px;
}
.mw-200{
    min-width: 200px;
}

.select2{
    width: 100% !important;
}

.btn-group-xs .btn, .btn-group-xs>.btn, .btn.btn-xs {
    padding: .30625rem 1.0rem;
    font-size: .5875rem;
    line-height: 1;
    border-radius: .1rem;
}

.ws-pre{
    white-space: pre;
}

.sidebar .sidebar-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
}

.card-icon{
    background: #9c27b0 !important;
}

.fs11{
    font-size: 11px;
}