.main-panel>.content {
    margin-top: 35px !important;
}


.table-sortable > thead > tr > th.sorting {
    cursor: pointer;
    position: relative;
}

.table-sortable > thead > tr > th.sorting:after,
.table-sortable > thead > tr > th.sorting:after,
.table-sortable > thead > tr > th.sorting:after {
    content: "\2191";
    height: 0;
    width: 0;
    right: 1em;
    top: 11px; 
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
}

.table-sortable > thead > tr > th.sorting:before,
.table-sortable > thead > tr > th.sorting:before,
.table-sortable > thead > tr > th.sorting:before {
    content: "\2193";
    height: 0;
    width: 0;
    right: 0.5em;
    top: 11px;
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
}

.table-sortable > thead > tr > th.asc:after {
    top: 11px;
    right: 0.5em;
    content: "\2193";
}

.table-sortable > thead > tr > th.asc:before {
    top: 11px;
    right: 1em;
    content: "\2191";
    opacity: 1;
}


.table-sortable > thead > tr > th.desc:after {  
    top: 11px;
    right: 0.5em;
    content: "\2193";  
    opacity: 1;
}

.table-sortable > thead > tr > th.desc:before {    
    top: 11px;
    right: 1em;
    content: "\2191";
}